/* src/app/teacher/(dashboard)/courses/[id]/syllabus/CourseSyllabus.module.css */
.pageContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contentArea {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 20px 20px;
}