/* src/components/teacher/course-management/syllabus/common/EditableInput/EditableInput.module.css */
.inputField {
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid var(--teacher-primary);
    outline: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    width: 100%;
    box-sizing: border-box;
}

.displaySpan {
    flex-grow: 1;
    padding: 5px 9px; /* 保持与 input 的内边距一致 */
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: text;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}